<div class="blog-section">
    <div class="body-section d-flex">
        <div class="left-section">
            <h1>Blog</h1>
            <p class="w-50 ">
                İT sahəsində təlim haqqında cari məlumatlar. Biz İT-dəki tendensiyalar, proqramlaşdırma dillərinin reytinqləri,
                İT peşələrini seçmək üçün məsləhətlər və tövsiyələr və daha çox şeylər haqqında danışırıq.
            </p>
        </div>

        <div class="right-section">
            <img src="https://itstep.az/dist/images/academy/blog/man@2x.webp" />
        </div>
    </div>

</div>